@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;500;700&display=swap');

:root {
    --bg-clr: #171717;
    --bg-accent: #444444;
    --page-clr: #DA0037;
    --page-accent: #B6002D;
    --text-primary: #EDEDED;
    --text-secondary: #888888;

    --ff-primary: 'Source Code Pro', monospace;
    --fs-large: max(30px, min(4vw, 4vh));
    --fs-medium: max(25px, min(3.5vw, 3.5vh));
    --fs-small: max(20px, min(2.5vw, 2.5vh));
    --fs-ex-small: max(15px, min(2.5vw, 2.5vh));
    --fw-bold: 700;
    --fw-semi-bold: 500;
    --fw-regular: 300;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--ff-primary);
    background-color: var(--bg-clr);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}

a,
button {
    cursor: pointer;
}

h1 {
    cursor: default;
    color: var(--text-primary);
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}

h2 {
    cursor: default;
    color: var(--text-primary);
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
}

h3 {
    cursor: default;
    color: var(--text-secondary);
    font-size: var(--fs-medium);
    font-weight: var(--fw-semi-bold);
}

h4 {
    cursor: default;
    color: var(--text-primary);
    font-size: var(--fs-small);
}

p {
    cursor: default;
    color: var(--text-secondary);
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}

.nav-bar {
    z-index: 10;
    width: clamp(20px, 65px, 65px);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    padding-right: 24px;
}

.nav-item {
    color: var(--text-primary);
    background-color: var(--page-clr);
    border-radius: 50%;
    max-height: 65px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(100vh / 50);
}

.nav-item:hover {
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.5) inset;
}

.nav-image {
    width: 55%;
    aspect-ratio: 1;
}

.home {
    background-image: url('../images/home.svg');
}

.about {
    background-image: url('../images/about.svg');
}

.projects {
    background-image: url('../images/pencil.svg');
}

.links {
    background-image: url('../images/url.svg');
}

section {
    width: min(2110px, calc(100% - 2rem));
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main h1 {
    position: relative;
}

#main h1:hover {
    color: var(--page-clr);
    text-shadow: 0px 0px 10px var(--page-clr);
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0% {
        color: var(--page-clr);
        text-shadow: 0px 0px 10px var(--page-accent);
    }
    50% {
        color: var(--page-accent);
        text-shadow: 0px 0px 50px var(--page-clr);
    }
    100% {
        color: var(--page-clr);
        text-shadow: 0px 0px 10px var(--page-accent);
    }
}

#main h3 {
    text-align: center;
}

#main:after{
    content: '';
    z-index: -3;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("../images/galactic.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

#main:before {
    content: '';
    z-index: -1;
    display: inline-block;
    position: fixed;
    left: -85%;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: skew(20deg);
    background: -moz-linear-gradient(135deg, var(--page-accent) 0%, var(--page-clr) 100%);
    background: -webkit-linear-gradient(135deg, var(--page-accent) 0%, var(--page-clr) 100%);
    background: linear-gradient(135deg, var(--page-accent) 0%, var(--page-clr) 100%);
}

#about {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    place-items: center;
    gap: 1rem 0;
    width: clamp(750px, 70%, 1550px);
}

#about p {
    color: var(--text-primary);
}

.resume-btn {
    position: relative;
    font-size: var(--fs-ex-small);
    text-decoration: none;
    color: var(--text-primary);
    background-image: linear-gradient(var(--page-clr) 49%, var(--page-accent) 51%);
    overflow: hidden;
    padding: 0.75rem 1.25rem;
    border-radius: 2px;
    transition: scale 1s ease-out;
}

.resume-btn:hover {
    scale: 1.05;
}

.resume-btn:after {
    content: '';
    width: 35%;
    aspect-ratio: 1;
    position: absolute;
    bottom: -100%;
    right: 10px;
    rotate: -35deg;
    background-image: url('../images/file.svg');
    transition: bottom 1s ease-out;
}

.resume-btn:hover:after {
    bottom: -20%;
}

.single-col {
    grid-column: span 1;
    margin-top: 10rem;
}

.double-col {
    grid-column: span 2;
    margin-bottom: 10rem;
}

.center {
    display: grid;
    place-items: center;
    gap: 2rem;
}

.skills-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: calc((85px + 1rem) * 8);
}

.skills-list img {
    opacity: 0;
    transform: translateY(5rem);
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
}

.skills-list img.visible {
    opacity: 1;
    transform: none;
}

.skills-list img {
    width: min(15%, 85px);
    aspect-ratio: 1;
    color: var(--text-primary);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.skills-list:hover img {
    filter: blur(5px);
}

.skills-list img:hover {
    filter: blur(0px);
    transform: scale(1.1);
}

.lang-desc {
    position: absolute;
    top: calc(100% + 15px);
    text-align: center;
    color: var(--text-primary);
    background-color: var(--bg-clr);
    border-radius: 15px;
    opacity: 0;
    transition: opacity;
    padding: 5px;
}

.skill-react:hover + .react-desc {
    opacity: 0.75;
}

.skill-js:hover + .js-desc {
    opacity: 0.75;
}

.skill-html:hover + .html-desc {
    opacity: 0.75;
}

.skill-css:hover + .css-desc {
    opacity: 0.75;
}

.skill-flutter:hover + .flutter-desc {
    opacity: 0.75;
}

.skill-godot:hover + .godot-desc {
    opacity: 0.75;
}

.skill-python:hover + .python-desc {
    opacity: 0.75;
}

.skill-java:hover + .java-desc {
    opacity: 0.75;
}

.lang-desc p {
    color: rgb(61, 111, 161);/*var(--text-primary); */
    font-size: var(--fs-ex-small);
    opacity: 1;
}

#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.featured-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.feature-card {
    position: relative;
    display: flex;
    background-color: var(--bg-accent);
    width: clamp(440px, 35%, 750px);
    height: 350px;
    overflow: hidden;
}

.project-text {
    margin: 1.4rem;
    height: calc(100% - 2.8rem);
}

.project-text h3 {
    color: var(--page-accent);
}

.site-btn {
    position: absolute;
    bottom: 22px;
    left: 22px;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: var(--page-accent);
    color: var(--text-primary);
}

.code-btn {
    position: absolute;
    bottom: 21px;
    left: 5.75rem;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.25em;
    border: var(--page-accent) solid 1px;
    color: var(--text-secondary);
}

.site-btn:hover,
.code-btn:hover {
    color: var(--text-primary);
    background-color: var(--page-clr);
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.other-card {
    position: relative;
    background-color: var(--bg-accent);
    padding: 1rem;
    width: clamp(275px, 22.9%, 490px);
    height: 200px;
    box-shadow: -6px 6px 75px -14px rgba(0,0,0,0.47) inset;
    -webkit-box-shadow: -6px 6px 75px -14px rgba(0,0,0,0.47) inset;
    -moz-box-shadow: -6px 6px 75px -14px rgba(0,0,0,0.47) inset;
}

#links {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    margin-left: 2rem;
    width: 100%;
}

.link-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: clamp(200px, 30%, 600px);
}

.link-btns a {
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1;
    background-color: var(--page-clr);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;

    transition: scale 1s ease;
}

.link-btns a:hover {
    transform: scale(1.1);
}

.github {
    background-image: url('../images/github.svg');
}

.linkedin {
    background-image: url('../images/linkedin.svg');
}

.mail {
    background-image: url('../images/email.svg');
}

@media (max-width: 450px) {
    .featured-projects {
        flex-direction: column;
        align-items: center;
    }
    .feature-card {
        flex-direction: column;
        width: clamp(290px, 80vw, 450px);
    }
    .feature-card:before {
        content: '';
        width: 100%;
        height: 25%;
        position: absolute;
        bottom: 0;
        background-color: #171717;
        opacity: 0.9;
    }
}

@media (max-width: 500px) {
    #links { gap: 0; width: 90%; }
}

@media (max-height: 320px) or (max-width: 1115px) {
    .nav-bar { display: none; }
}

@media (max-width: 815px) {
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin-bottom: 5rem;
    }

    .single-col,
    .double-col {
        margin: 2rem 0;
    }
}
